@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.MainOfAll {
  position: fixed;
}
.brightingHeader {
  filter: brightness(0.7);
}
.brightingMain {
  filter: brightness(0.7);
}
/* header */

#Header-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  grid-template-rows: 1fr;
  border: 1px solid rgba(0, 0, 0, 0.253);
  
}
#HeaderforMobile {
  visibility: hidden;
}
.leftNav {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  cursor: default;
}
.titleOfMychat {
  display: flex;
  padding: 5px;
  font-size: 15px;
}
.titleOfMychat i {
  padding: 5px 5px;
  font-size: 15px;
}

/* right Nav */
.rightNav {
  display: flex;
  justify-content: end;
  background-color: white;
}
.dateAndTime {
  display: flex;
  padding: 10px 20px;
  font-size: 20px;
  cursor: default;
}
.dateAndTime p {
  padding: 0px 5px;
}
.rightNav i {
  font-size: 18px;
}

.rightBtntNav {
  display: flex;
  flex-direction: row;
}
.rightBtntNav button {
  padding: 0 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px 10px 0 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.rightBtntNav button:hover {
  background-color: rgb(229, 229, 229);
}
.rightBtntNav button:active {
  border: 2px solid rgb(89, 89, 89);
}
#rightBtnOfMain {
  visibility: hidden;
}
/* main */
main {
  margin-top: -125px;
}
.innerContainerOfMain {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

/* left partition */
.leftPartition {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 100px 30px 0 40px;
}
.leftPartition h1 {
  font-size: 40px;
  font-weight: 550;
}
.leftPartition p {
  margin: 20px 0 40px 0;
  font-size: 18px;
  color: rgb(71, 71, 71);
}
.btnsOfMain {
  display: flex;
  height: 45px;
  padding: 0 0 40px 0;
  border-bottom: 1px solid rgb(208, 208, 208);
}
.btnsOfMain button {
  width: 160px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgba(31, 31, 227, 0.737);
}
.btnsOfMain button:hover {
  background-color: rgba(45, 45, 213, 0.946);
  box-shadow: 0px 0px 3px black;
}
.btnsOfMain input {
  width: 250px;
  border-radius: 5px;
  border: 1px solid rgb(169, 169, 169);
  padding: 11px;
  position: absolute;
  margin-left: 180px;
  height: 20px;
}
.btnsOfMain input:hover {
  border: 1px solid rgb(67, 67, 67);
}
.leftPartition a {
  color: rgb(81, 81, 177);
  font-weight: 700;
  text-decoration: none;
}

/* new meeting container */
#exitMeet {
  background-color: white;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
#exitMeet:hover {
  background-color: rgb(213, 212, 212);
}
#NewMeetingContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  top: 38%;
  left: 3%;
  width: 290px;
  height: 210px;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.624);
  border: 1px solid rgba(114, 114, 114, 0.571);
}
#NewMeetingContainer button {
  text-align: start;
  font-size: 15px;
  height: 70px;
  border: none;
  padding: 20px;
  color: black;
  background-color: white;
}
#NewMeetingContainer button:hover {
  background-color: rgb(213, 212, 212);
}
#NewMeetingContainer button i {
  margin: 0 15px 0 0;
}
#NewMeetingContainer a {
  color: black;
}
.activeNewMeetingContainer {
  visibility: hidden;
}
/* right partition */

.rightPartition {
  background-color: white;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.rightPartition button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  border: none;
}
.rightPartition button:hover {
  background-color: rgb(240, 240, 240);
}
.rightPartition button:active {
  border: 3px solid grey;
  background-color: white;
}
.switchesToChangeTheImage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  padding: 30px 30px;
  margin: 40px 0px 0px 35px;
}
span {
  font-weight: 900;
}
#leftArrow {
  margin-top: 150px;
}
#rightArrow {
  margin-top: 150px;
}
.images {
  padding: 0px 100px;
}
.images h1 {
  text-align: center;
  font-size: 25px;
  cursor: default;
}
.images p {
  text-align: center;
  font-size: 15px;
  cursor: default;
}
.visible1 {
  visibility: hidden;
}
.visible2 {
  visibility: hidden;
}
#image2nd {
  position: absolute;
  right: 11.6%;
}
.points {
  display: flex;
  justify-content: center;
  color: rgb(192, 192, 192);
}

.LeftLi {
  color: blue;
}
.RightLi {
  color: blue;
}
.defaultLi {
  color: blue;
}

/* support container */

#MainContainerOfSupport {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  width: 300px;
  padding: 10px 0;
  box-shadow: 5px 5px 10px rgb(40, 40, 40);
  position: absolute;
  top: 36px;
  right: 13%;
  position: fixed;
  border-radius: 3px;
}

#MainContainerOfSupport button {
  text-align: left;
  font-size: 18px;
  height: 25%;
  background-color: white;
  border: transparent;
  padding: 10px;
}
#MainContainerOfSupport button:hover {
  background-color: rgb(239, 238, 238);
}
#MainContainerOfSupport i {
  text-shadow: 1px 1px 2px black;
  text-align: end;
  margin: 2px 10px 2px 0;
}
.ActiveSupport {
  visibility: hidden;
}
/* report a problem */
.activeReport {
  visibility: hidden;
}
#containerOfReportaProblem {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 97%;
  position: absolute;
  position: fixed;
  top: 0%;
  right: 0%;
  padding: 10px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: -5px 0px 10px rgb(40, 40, 40);
}
.headingOfReport {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}
.headingOfReport i {
  font-size: 25px;
  margin: 5px 0 0 0;
}
.imgOfProblem {
  display: flex;
  flex-direction: column;
  margin: 30px 80px 30px 80px;
}
.containerOfbtnReport {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
}
.containerOfbtnReport button {
  height: 50px;
  border: transparent;
  background-color: transparent;
  text-align: start;
  padding: 0 20px;
}
.containerOfbtnReport i {
  margin: 0 15px 0 0;
}
.containerOfbtnReport button:hover {
  background-color: rgb(235, 235, 235);
}

/*report an issue */

.ActiverAi {
  visibility: hidden;
}

#rAi {
  background-color: white;
  height: 811.9px;
  width: 400px;
  position: absolute;
  top: 0%;
  right: 0%;
}
#rAi p {
  color: rgb(94, 91, 91);
}
#rAi h1 {
  color: rgb(67, 66, 66);
}
.headerOfrAiH {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
  background-color: white;
  box-shadow: 5px 0px 10px rgb(40, 40, 40);
}
.headerOfrAiH h1 {
  font-size: 20px;
}
.headerOfrAiH i {
  padding: 0px 10px;
  font-size: 25px;
}
.firstH1 {
  font-size: 13px;
  margin: 35px 15px 15px 15px;
}
#firstInput {
  display: flex;
  border: 1px solid black;
  margin: 15px 15px 15px 15px;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0px 10px;
  height: 60px;
}
#firstInput h1 {
  margin: 18px 0 0 0;
  font-size: 15px;
}
#firstInput i {
  padding: 20px;
}
#downBtn {
  border: transparent;
  background-color: transparent;
}
.secondH1 {
  font-size: 17px;
  margin: 25px 20px 5px 20px;
}
.secondInput textarea {
  width: 85%;
  margin: 10px 0px 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
}
.firstP {
  font-size: 13px;
  margin: 5px 30px 5px 30px;
}
.firstP i {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 50px;
  color: white;
  background-color: black;
}
.thirdH1 {
  font-size: 14px;
  text-align: left;
  margin: 30px 30px 15px 30px;
}
.FirstbtnOfrAi {
  margin: 20px 20px 20px 20px;
  background-color: white;
  color: rgb(115, 115, 173);
  border: 1px solid rgb(72, 70, 70);
  border-radius: 5px;
  width: 90%;
  height: 40px;
}
.FirstbtnOfrAi i {
  padding: 0 10px;
}
.FirstbtnOfrAi:hover {
  background-color: rgba(103, 103, 210, 0.603);
  color: white;
  box-shadow: 0px 0 5px rgb(112, 112, 112);
  border: 2px solid blue;
}
.thirdInput {
  display: flex;
  justify-content: space-between;
  padding: 10px 32px;
}
.thirdInput h1 {
  font-size: 12px;
}
.forthH1 {
  font-size: 1px;
}
.secondP {
  font-size: 11px;
  margin: 10px 20px 10px 20px;
  text-align: justify;
}
.secondP a {
  text-decoration: none;
}

.footerOfrAi {
  box-shadow: 0px 0 10px rgb(112, 112, 112);
}
.footerOfrAi button {
  margin: 25px 0px 20px 270px;
  height: 40px;
  width: 120px;
  border: transparent;
  background-color: rgb(182, 182, 182);
  color: black;
}
.secondPOfrAi {
  margin: 15px;
  font-size: 15px;
  text-align: justify;
}
/* chose an option Box of report a problem */
.activeBoxOfOption {
  visibility: hidden;
}
#boxOfOptionrAi {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 15px 15px 15px 15px;
  justify-content: space-between;
  height: 60px;
  position: absolute;
  top: 22%;
  right: 0px;
  width: 92%;
  height: 300px;
}
#boxOfOptionrAi button {
  height: 100%;
  border: transparent;
  background-color: white;
}
#boxOfOptionrAi button:hover {
  background-color: rgb(205, 205, 205);
}
/* Suggest an Idea */
.ActiveSaI {
  visibility: hidden;
}
#SaI {
  background-color: white;
  height: 665x;
  width: 400px;
  position: absolute;
  top: 0%;
  right: 0%;
  box-shadow: -5px 0px 10px rgb(40, 40, 40);
  position: fixed;
}
#SaI p {
  color: rgb(94, 91, 91);
}
#SaI h1 {
  color: rgb(67, 66, 66);
}
.headerOfSaI {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
  background-color: white;
  box-shadow: 5px 0px 10px rgb(40, 40, 40);
}
.headerOfSaI h1 {
  font-size: 20px;
}
.headerOfSaI i {
  padding: 0px 10px;
  font-size: 25px;
}
.secondH1SaI {
  font-size: 17px;
  margin: 25px 20px 5px 20px;
}
.secondInputSaI textarea {
  width: 85%;
  margin: 5px 0px 0px 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
}
.firstPSaI {
  font-size: 13px;
  margin: 0px 30px 0px 30px;
}
.firstPSaI i {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 50px;
  color: white;
  background-color: black;
}
.thirdH1SaI {
  font-size: 14px;
  text-align: left;
  margin: 10px 30px 10px 30px;
}

.FirstbtnOfSaI {
  margin: 0px 20px 0px 20px;
  background-color: white;
  color: rgb(115, 115, 173);
  border: 1px solid rgb(72, 70, 70);
  border-radius: 5px;
  width: 90%;
  height: 40px;
}
.FirstbtnOfSaI i {
  padding: 0 10px;
}
.FirstbtnOfSaI:hover {
  background-color: rgba(95, 95, 142, 0.603);
  color: white;
  border: 4px solid blue;
}
.thirdInputSaI {
  display: flex;
  justify-content: space-between;
  padding: 70px 32px 5px 32px;
}
.thirdInputSaI h1 {
  font-size: 12px;
}
.secondPSaI {
  font-size: 11px;
  margin: 10px 20px 10px 20px;
  text-align: justify;
}
.secondPSaI a {
  text-decoration: none;
}

.footerOfSaI {
  box-shadow: 10px 0 10px rgb(112, 112, 112);
}
.footerOfSaI button {
  margin: 25px 0px 20px 270px;
  height: 40px;
  width: 120px;
  border: transparent;
  background-color: rgb(182, 182, 182);
  color: black;
}
/* setting container */

#containerSetting {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  border: 1px solid black;
  height: 88%;
  position: absolute;
  top: 9%;
  left: 19%;
  font-size: 10px;
  position: fixed;
  box-shadow: 2px 2px 10px rgb(40, 40, 40);
}
#containerSetting i {
  padding-right: 10px;
  font-size: 20px;
}
.active {
  visibility: hidden;
}

.leftPortationSetting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid black;
}
.leftPortationSetting h1 {
  margin: 30px 0 30px 40px;
}
.leftPortationSetting button {
  margin: 10px 100px 20px 0;
  width: 200px;
  height: 50px;
  border: 1px solid rgb(52, 47, 47);
  background-color: transparent;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.leftPortationSetting button:active {
  background-color: rgb(73, 73, 202);
  color: white;
}

.rightPortaitionSetting {
  display: flex;
  flex-direction: column;
}
.rightPortaitionSetting h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.microphoneBox {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.SpeakerBox {
  display: flex;
  flex-direction: row;
}
.inputing {
  width: 400px;
  border-radius: 10px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-right: 15px;
  padding-left: 30px;
  font-size: 15px;
}
#microPage {
  display: flex;
  justify-content: space-between;
}
#microPage i {
  margin-top: 3%;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}

/* Join */
@media only screen and (max-width: 1080px) {
  .MainOfAll {
    position: fixed;
    height: 1390px;
  }
  #Header-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
    height: 710px;
    width: 50%;
    position: absolute;
    top: 3%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.647);
    z-index: 1;
  }
  .ActiveOfNav {
    visibility: hidden;
  }
  .leftNav {
    background-color: white;
    padding: 10px 20px;
  }
  #H1OfImages {
    visibility: visible;
  }
  #pOfImages {
    visibility: visible;
    z-index: 1;
  }
  .rightNav {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: start;
  }
  .dateAndTime {
    font-size: 15px;
  }
  .rightBtntNav {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .rightBtntNav i {
    font-size: 30px;
  }
  .rightBtntNav button {
    height: 50px;
    width: 50px;
    margin: 90px 0px 0 80px;
  }
  /* Joing container */

  /* mobileHead */
  #HeaderforMobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    top: 0%;
    box-shadow: 0px 0px 7px black;
    max-width: 340px;
    width: 100%;
    background-color: white;
    visibility: visible;
    z-index: 1;
  }
  #HeaderforMobile button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
  }
  #HeaderforMobile button:hover {
    background-color: rgb(216, 213, 213);
  }
  #HeaderforMobile button:active {
    background-color: rgb(242, 242, 242);
    border: 2px solid rgb(108, 107, 107);
  }
  #HeaderforMobile #TitleHeaderforMobile {
    display: flex;
    font-size: 9px;
  }
  #HeaderforMobile #TitleHeaderforMobile i {
    font-size: 12px;
    margin-right: 5px;
  }
  #ProfileHeaderforMobile {
    text-align: right;
  }
  .five {
    visibility: hidden;
  }
  .six {
    visibility: hidden;
  }

  /* support */

  #MainContainerOfSupport {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 300px;
    padding: 10px 0;
    box-shadow: 5px 5px 10px rgb(40, 40, 40);
    position: absolute;
    top: 35%;
    right: 10%;
    border-radius: 3px;
  }
  #MainContainerOfSupport i {
    text-align: center;
  }

  /* report */

  #containerOfReportaProblem {
    width: 100%;
    height: 100%;
  }
  /* report an issue */
  #rAi {
    background-color: white;
    height: 750px;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    box-shadow: -5px 0px 10px rgb(40, 40, 40);
  }
  .headerOfrAiH {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    background-color: white;
    box-shadow: 5px 0px 10px rgb(40, 40, 40);
  }
  .headerOfrAiH h1 {
    font-size: 15px;
  }
  .headerOfrAiH i {
    padding: 0px 10px;
    font-size: 25px;
  }
  .firstP {
    font-size: 12px;
    margin: 5px 30px 5px 30px;
  }
  .thirdH1 {
    font-size: 10px;
    text-align: left;
    margin: 30px 30px 15px 30px;
  }
  .FirstbtnOfrAi {
    margin: 20px 20px 20px 20px;
    background-color: white;
    color: rgb(115, 115, 173);
    border: 1px solid rgb(72, 70, 70);
    border-radius: 5px;
    width: 90%;
    height: 40px;
  }
  .FirstbtnOfrAi:hover {
    background-color: rgba(95, 95, 142, 0.603);
    color: white;
    border: 4px solid blue;
  }
  .thirdInput h1 {
    font-size: 10px;
  }

  .secondPOfrAi {
    font-size: 11px;
    text-align: justify;
    margin: 10px;
  }

  .footerOfrAi {
    box-shadow: 0px 10px 10px rgb(112, 112, 112);
  }
  .footerOfrAi button {
    margin: 10px 0px 10px 210px;
    height: 40px;
    width: 120px;
    border: transparent;
    background-color: rgb(246, 246, 246);
    color: black;
  }
  /* option of report an issue */
  #boxOfOptionrAi {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px 15px 0px 15px;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 28%;
    right: 0px;
    width: 91%;
    height: 300px;
  }

  /* suggest an issue */
  #SaI {
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    box-shadow: -5px 0px 10px rgb(40, 40, 40);
    position: fixed;
  }
  #SaI p {
    color: rgb(94, 91, 91);
    font-size: 12px;
  }
  #SaI h1 {
    color: rgb(67, 66, 66);
  }
  .headerOfSaI h1 {
    font-size: 17px;
  }
  .headerOfSaI i {
    padding: 0px 10px;
    font-size: 25px;
  }
  .secondH1SaI {
    font-size: 15px;
    margin: 25px 20px 5px 20px;
  }
  .thirdInputSaI {
    display: flex;
    justify-content: space-between;
    padding: 70px 32px 5px 32px;
  }
  .thirdInputSaI h1 {
    font-size: 10px;
    margin: 0 12px 0 0;
  }
  .secondPSaI a {
    text-decoration: none;
  }

  .footerOfSaI {
    margin: 115px 0px 0px 0px;
    box-shadow: 10px 0 10px rgb(112, 112, 112);
    padding: 0px 10px;
  }
  .footerOfSaI button {
    margin: 20px 0px 20px 210px;
    height: 40px;
    width: 120px;
    border: transparent;
    background-color: rgb(182, 182, 182);
    color: black;
  }
  .thirdH1SaI {
    font-size: 12px;
  }

  /* main */

  .innerContainerOfMain {
    display: flex;
    flex-direction: column;
  }
  .leftPartition h1,
  .leftPartition p {
    visibility: hidden;
  }
  .leftPartition {
    max-width: 340px;
    width: 100%;
    display: grid;
    margin: -290px 0px -60px -20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .leftPartition input {
    visibility: hidden;
  }
  .leftPartition button {
    height: 35px;
    border-radius: 50px;
  }
  #rightBtnOfMain {
    background-color: transparent;
    border: 1px solid rgb(84, 83, 83);
    color: rgb(21, 21, 221);
  }
  #leftBtnOfMain {
    border: 1px solid rgb(21, 21, 221);
  }
  #rightBtnOfMain {
    visibility: visible;
  }
  /* New Meeting container */
  #NewMeetingContainer {
    position: absolute;
    bottom: 0%;
    width: 357px;
    height: 50px;
    left: 0%;
    right: 0%;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  #NewMeetingContainer button {
    border-radius: 0px;
    height: 100%;
    width: 100%;
  }
  #exitMeet {
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .images {
    margin: 50px 0px 0 -100px;
  }
  .switchesToChangeTheImage {
    margin: 5px 0px 0px -20px;
  }
  .switchesToChangeTheImage p {
  }
  .switchesToChangeTheImage img {
    height: 250px;
    width: 250px;
  }
  #H1OfImages {
    font-size: 20px;
    margin: 0 20px 0 20px;
  }
  #pOfImages {
    visibility: visible;
    margin: 10px;
  }

  /* right img */

  .rightPartition button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
  }
  .rightPartition button:hover {
    background-color: rgb(240, 240, 240);
  }
  .rightPartition button:active {
    border: 3px solid grey;
    background-color: white;
  }
  .switchesToChangeTheImage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    padding: 30px 0px;
    margin: -10px 0px 0px 22px;
  }
  span {
    font-weight: 900;
  }
  .images {
    padding: 0px 100px;
  }
  .images h1 {
    text-align: center;
    font-size: 25px;
    cursor: default;
  }
  .images p {
    text-align: center;
    font-size: 12px;
    cursor: default;
  }
  .visible1 {
    position: relative;
    visibility: hidden;
  }
  .visible2 {
    position: absolute;
    visibility: hidden;
  }
  #image2nd {
    position: absolute;
    left: 12%;
  }
  .points {
    display: flex;
    justify-content: center;
    color: rgb(192, 192, 192);
  }
  #leftArrow {
    margin-top: 370%;
  }
  #rightArrow {
    margin-top: 370%;
  }
  .LeftLi {
    color: blue;
  }
  .RightLi {
    color: blue;
  }
  .defaultLi {
    color: blue;
  }
  /* joiningPage */
  .mainContainerOfJoining {
    position: absolute;
    top: 0%;
    background-color: rgb(243, 14, 14);
    width: 100%;
    position: fixed;
    font-size: 12px;
    visibility: hidden;
  }
  .headerOfJOining {
    margin: 5px 10px 0 10px;
    height: 50px;
    display: flex;
    width: 96%;
    justify-content: space-between;
  }
  .headerOfJOining button {
    margin: -1px 0 0 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: white;
  }
  .headerOfJOining i {
    margin: 9px 0 0 0;
    font-size: 16px;
  }

}
